<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <button type="button" (click)="decIndex()"></button>
    {{ options[optionIndex] }}
    <button type="button" (click)="incIndex()"></button>
  </h4>
</div>
<div class="modal-body">
  <form [ngSwitch]="optionIndex">
    <div *ngSwitchCase="0" class="form-group">
      <label for="question">Entrez votre question</label>
      <input [(ngModel)]="question" type="text" class="form-control" />
    </div>
    <div *ngSwitchCase="1" class="form-group">
      <label for="survey">Entrez votre question</label>
      <input [(ngModel)]="question" type="text" class="form-control" />
    </div>
    <div *ngSwitchCase="2" class="form-group">
      <ngb-datepicker #dp [(ngModel)]="dateValue" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-danger"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    Annuler
  </button>
  <button type="button" class="btn btn-primary" (click)="closeModal()">
    Envoyer
  </button>
</div>
